<!--<div class="col-md-12">-->
<!--  <div class="nav-tabs-custom">-->
<!--    <ul class="nav nav-tabs">-->
<!--      <li class="active"><a href="#activity" data-toggle="tab">我的学生</a></li>-->
<!--      <li><a href="#timeline" data-toggle="tab">全部学生</a></li>-->
<!--      <li><a href="#settings" data-toggle="tab">其他</a></li>-->
<!--    </ul>-->
<!--    <div class="tab-content">-->
<!--      <div class="active tab-pane" id="activity">-->
<!--        第一页-->
<!--      </div>-->

<!--      <div class="tab-pane" id="timeline">-->
<!--        第二页-->
<!--      </div>-->

<!--      <div class="tab-pane" id="settings">-->
<!--        第三页-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

