<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
<!--        <img src="assets/img/123.jpg" class="img-responsive" alt="User Image">-->
        <img src="assets/img/123.jpg" class="img" style="width: 200px; height: 110px">

    </div>

    <!-- search form (Optional)
         <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>-->

    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <!--<li class="header">HEADER</li>-->
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview" *ngFor="let menu of showmenus" [class.active]="currentMenuId == menu.id">
        <a href="javascript:;" (click)="nav(menu)" [hidden]="false">
          <i class="{{menu.icon}} fa fa-link"></i>
          <span>{{menu.name}}</span>

        </a>
        <!--<span *ngIf="menu.child.length" class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
        <ul class="treeview-menu" *ngFor="let item of menu.child">
          <li><a href="{{item.link}}">{{item.name}}</a></li>
        </ul>-->

      </li>


<!--      <li class="treeview">-->
<!--        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>-->
<!--          <span class="pull-right-container">-->
<!--                <i class="fa fa-angle-left pull-right"></i>-->
<!--              </span>-->
<!--        </a>-->
<!--        <ul class="treeview-menu">-->
<!--          <li><a href="#">Link in level 2</a></li>-->
<!--          <li><a href="#">Link in level 2</a></li>-->
<!--        </ul>-->
<!--      </li>-->
    </ul>


    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
