<div class="info-box-content" appMyStyle="机构设置权限">
  <div class="box-body">
    <div  style="padding-right:500px;">
      <button type="button" class="btn btn-primary" style="width:100px;height:32px " (click)="onclickOrganization()">组织机构</button>&nbsp;
      <button type="button" class="btn btn-primary" style="width:100px;height:32px" (click)="onclickRole()">角色</button>&nbsp;
      <button type="button" class="btn btn-primary" style="width:100px;height:32px" (click)="onclickYear()">学年</button>&nbsp;
      <button type="button" class="btn btn-primary" style="width:100px;height:32px" (click)="onclickSchedule()">作息时间表</button>&nbsp;
      <button type="button" class="btn btn-primary" style="width:100px;height:32px" (click)="onclickField()">场地</button>
    </div>
  </div>
</div>


  <router-outlet></router-outlet>

